.location-step {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  text-align: center;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: justify;
  padding: 10px;
  color: #888;
  width: 300px;
}

.step.active {
  color: #5a29e4;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin-top: 5px;
}

input:focus {
  outline: none;
  border-color: #5a29e4;
}

.input-container {
  position: relative;
  width: 100%;
}

.location-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 20px;
}

.suggestion-title {
  text-align: justify;
  padding: 10px;
  color: #888;
  width: 50%;
  font-family: sans-serif;
}

.input-container input::placeholder {
  font-weight: bold;
  color: black;
}

.btn-next {
  margin-left: 800%; 
  background-color: greenyellow;
  padding: 10px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 5px;
}

.sub-title{
  text-align: left;
  color: #999;
}