.job-selector {
  padding: 20px;
}

.search-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns for the first row */
  grid-gap: 20px; /* Space between cards */
  padding: 10px 0;
}

.job-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.job-card:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.job-card.selected {
  background-color:#f0f0f0;
  color: black;
}

.job-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.job-card p {
  margin: 5px 0;
}

.rate {
  color:black;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-prev, .btn-next {
  padding: 10px 20px;
  border: none;
  background-color: greenyellow;
  border-radius: 5px;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  opacity: 0.8;
}

.btn-prev:disabled, .btn-next:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
