  .job-selector {
    text-align: center;
    background-color: white;
  }
  
  .job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
  }
  
  .job-card {
    /* flex:45%;  */
    max-width: 20%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 1px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    text-align: left;
    /* transition: all 0.3s ease; */
  }
  
  .job-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .job-card.selected {
    border-color: #007bff;
    background-color: #f0f8ff;
  }
  
  /* Style for the rate */
  .rate {
    font-weight: bold;
    color: #333;
  }
  
  .job-selector{
    padding: 20px;
    background-color:white;
    border-radius: 8px;
    width: 80%;
    height:fit-content;
  }
  .btn-prev{
    background-color:cornflowerblue;
   
  }
  .btn-next{
    margin-left: 80%;
    background-color: greenyellow;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  .input-container {
    position: relative;
    width: 100%;
  }

  input {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
  }
  input:focus {
    outline: none;
    border-color: #5a29e4;
  }
  