.personal-detail {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: justify;
  padding: 10px;
  color: #888;
  width: 300px;
}

.step.active {
  color: #5a29e4;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin-top: 5px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input::placeholder {
  font-weight: bold;
  color: black;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 5px;
}

.file-upload-area{
  width: 100%;
  height: auto;
  padding: 20px;
  border: 3px dashed #ddd;
  border-radius: 1px;
  margin-top: 10px;
}

.file-upload-area p{
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.btn-prev, .btn-next {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-prev {
  background-color: cornflowerblue;
  color: black;
}

.btn-next {
  background-color: greenyellow;
  color: black;
}
